{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block container %}

<h1 class="page-header">Books </h1>
<div class="row spacer" >
    {% if user.is_authenticated %}

    <div class="col-md-6">
        <button id="add-new" class="btn btn-lg btn-primary "  data-url="{% url 'book_save' %}">
            <span class="glyphicon glyphicon-plus "></span>
            Cadastrar
        </button>
    </div>
    {% endif %}
    <form class="js-search-form" metod="get" action="{% url 'book_search' %}">
        <div class="pull-right col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">

                    <input id="search-book" name="search" type="text" class="form-control" placeholder="Pesquisar" />

                    <span class="input-group-btn">

                        <button class="btn btn-info js-search-btn" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>

                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<span></span>

<table id="table-book" class="table table-striped">

    <thead>
    <tr>
        <td>#</td>
        <td>Author</td>
        <td>Title</td>
        <td>Published</td>
        <td>Type Book</td>
        <td>Price</td>
        <td>Pages</td>
        {% if user.is_authenticated %}
        <td></td>
        <td></td>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% include 'partial/book_table.html' %}

    </tbody>

</table>

<div id="pagination">
{% include 'partial/pagination_book.html' %}
</div>
<!-- modal generic -->
<div class="modal fade" id="modal-book">
    <div class="modal-dialog">
        <div class="modal-content">



        </div><!-- modal content  -->
    </div>
</div>




{% endblock %}

{% block java_script_app %}
<script src="{% static 'js/apps.js' %}"></script>

{% endblock %}