<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"

     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

    <div class="modal-dialog">

        <div class="loginmodal-container">

            <h1>Faça o Login </h1><br>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <input type="text" name="username" placeholder="Usuario ">
                <input type="password" name="password" placeholder="Senha ">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">

            </form>

            <!--<div class="login-help">-->
                <!--<a href="#">Register</a> - <a href="#">Forgot Password</a>-->
            <!--</div>-->

        </div>
    </div>
</div>
